<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MyFlask</title>
        <meta charset="utf-8">
        <script src="../static/brython/brython.js"></script>
        <script src="../static/brython/brython_stdlib.js"></script>
    </head>
    <body onLoad="brython()">
        <script type="text/python" src="../static/bmi.py"></script>
        <h1>Calc BMI with Brython</h1>
        <p>Height[m]</p>
        <input type="text" id="height"/>
        <p>Weight[kg]</p>
        <input type="text" id="weight"/>
        <br><button id="calc">Solve</button></br>
        <div id="result"></div>
    </body>
</html>