<h1>Hello World!!</h1>
<a href="http://jquery.com">Jump to jQuery</a>
<p>
    <strong>C</strong>ascading
    <strong>S</strong>tyle
    <strong>S</strong>heet
    <li>test</li>
    <div id="div_mine">DivElement</div>
    <div class="divClass_mine">DivElementWithClass</div>
</p>
<script>
    $(function() {
        hello_main();
    });

    function hello_main() {
        $('a').on('click', function(event) {
            alert('Thank you for visiting.');
            event.preventDefault();
            $(this).hide('slow');
        });
    }
</script>
